<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lovidence">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_love_foot_foreground"
        android:label="lovidence"
        android:roundIcon="@mipmap/icon_love_foot_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data android:name="com.kakao.sdk.AppKey" android:value="68349899766b1a1b65deb6297df54789"/>

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:name=".GenerateQrCode"/>
        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.registerActivity"/>
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:screenOrientation="unspecified"
            android:name="com.example.lovidence.LandMark.LandmarkActivity" />
        <activity android:name=".Matching" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>